
@{
    ViewBag.Title = "Grades";
}

<h2>Grades</h2>
<div id="divisionOne">
    <button id="addButton" style="float:right;">+</button>
    <button id="reduceButton" style="float:right;">-</button>
    @using (Html.BeginForm("Grades", "Grades", FormMethod.Post, new { id = "form" }))
    {




        for (int i = 0; i < @ViewBag.Entries; i++)
        {
            String grade = "grade" + @i;
            String grade2 = "grade " + @i;
            <br>

            if (@ViewData[grade] != null)
            {
                <br>
                @Html.TextBox(@grade, @ViewData[grade], new { type = "number", min = "0", max = "100" })
                <br>
            }
            else
            {
                
                @Html.TextBox(@grade, null, new { type = "number", min = "0", max = "100", placeholder = @grade2 })
                <br>
            }
        }

        <br>
        @Html.TextBox("ViewBG", (int)@ViewBag.Entries, new { type = "hidden" })
        <br>
        @Html.TextBox("Submit", "Submit", new { type = "submit" })
    }
</div>
<script>

    document.getElementById("addButton").addEventListener
        ("click", function () {
            var node = document.createElement("input");
            node.setAttribute("type", "number");
            var vb = document.getElementById("ViewBG").getAttribute("value");
            var gr = "grade" + vb;
            node.setAttribute("name", gr);
            node.setAttribute("id", gr);
            node.setAttribute("placeholder", "grade " + vb);
            node.setAttribute("min", "0");
            node.setAttribute("max","100");
            document.getElementById("form").appendChild(node);
            var h = document.getElementById("ViewBG");
            h.insertAdjacentElement("beforebegin", node);
            var br1 = document.createElement("br");
            var br2 = document.createElement("br");
            node.insertAdjacentElement("afterend", br1);
            h.insertAdjacentElement("beforebegin", br2);
            
            
            document.getElementById("ViewBG").setAttribute("value", (parseInt(vb) + 1));
        });
        document.getElementById("reduceButton").addEventListener
         ("click", function () {

             var vb = document.getElementById("ViewBG").getAttribute("value");
             var js = "grade" + (parseInt(vb) - 1);      
             document.getElementById(js).previousElementSibling.remove();
             
             document.getElementById(js).nextElementSibling.remove();
             document.getElementById(js).remove();
              document.getElementById("ViewBG").setAttribute("value", (parseInt(vb) - 1));
         });


</script>
@{

    if (ViewBag.Letter != null && ViewBag.Total != null)
    {
      <p> Your letter grade is @ViewBag.Letter, and your numeric grade is @ViewBag.Total%</p>
    }
 }